.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modal {
    position: fixed;
    background: white;
    top: 30vh;
    bottom: 30vh;
    left: 10%;
    width: 80%;
    z-index: 200;
    overflow: scroll;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button.cancel {
    background-color: #ccc;
    color: #333;
  }
  
  button.cancel:hover {
    background-color: #aaa;
  }
  